:root {
    --darknavy: hsl(202,32%,15%);
    --semidarknavy: hsl(199,35%,19%);
    --silver: hsl(198,23%,72%);
    --silverhover: hsl(197,33%,89%);
    --lightblue: hsl(178°,60%,48%);
    --lightbluehover: hsl(178,75%,65%);
    --lightyellow: hsl(39,88%,58%);
    --lightyellowhover: hsl(39,100%,69%);
}

body {
    color: var(--silver);
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.875px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 35rem;
    height: 40rem;
    background-color: #1A2A33;
}

#start_screen {
    width: 70%;
    margin: 50% auto;
}

.player_select {
    padding: 0.5rem 4rem;
    font-size:1.5rem;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    padding: 2rem;
    text-align: center;
}

#board div {
    display: block;
    width: 8.75rem;
    height: 8.75rem;
    background-color: #1F3641;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 0 2rem;
}

footer div {
    display: block;
    width: 8.75rem;
    height: 2rem;
    text-align: center;
    background-color: #1F3641;
}

.turn {
    display: flex;
    align-items: center;
    background-color: #1F3641;
}

.turn img {
    max-width: 25%;
}


.clicked_x {
    background-image: url("assets/icon-x-outline.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.clicked_o {
    background-image: url("assets/icon-o-outline.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.turn_o .turn_image_x {
    display: none;
}

.turn_x .turn_image_o {
    display: none;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.hidden {
    display: none;
}